*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right, violet, indigo);
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano{
    display: flex;
}

.key{
    height: calc(var(--width) *4);
    width: var(--width);
    box-shadow: inset 0px 0px 5px black;
}

.White{
    --width: 90px;
    height: 350px;
    background-color: white;
    border: 1px solid #333;
}

.Black
{
    --width: 60px;
    height: 240px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 1;
    border: 1px solid #333;
}

.White.active{
    background-color: #ccc;
}

.Black.active{
    background-color: #333;
}
